<strong>Recuperando senhha</strong>
<p>Solicitação de recuperação de senha para o email ({{email}})</p>
<p>Para continuar com a recuperação utilize o token {{token}} ou acesse o link</p>
<a href="{{ link }}"> Criar nova senha </a>
